html {
    height: 100%;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    color:white;
    letter-spacing: 1px;
}

.SpotifyBox {
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("./assets/img/ecc32bb2398e421f7eda183bff60006f.jpg");
    width: 100%;
    height: 100%;
    background-position: top;
    min-height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    position: relative;
    padding-bottom: 240px;
}

.App {
    height: 100%;
}

body {
    margin: 0px;
}

.Tracks {
    position: relative;
    top: 120px;
    display: flex;
    margin: 10px 40px;
    justify-content: space-evenly;
    height: 70vh;
}

.APIButton {
    position: relative;
    display: inline-flex;
    justify-content: center;
    top: 120px;
    right: auto;
    cursor: pointer;
}