.Playlist {
    width: 40%;
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0px 40px;
    background-color: rgb(30,215,96);
}

.PlaylistSave {
    display: flex;
    background-color: #003F00;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0px;
    margin: 20px 40px 0px 40px;
    width: 220px;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}

.PlaylistSave:hover {
    background-color: black;
}

.PlaylistName {
    display: flex;
    font-style: italic;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 30px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    margin: 20px 40px 0px 40px;
}

input:focus-visible {
    outline: 0px;
}

