.Youtube {
    position: relative;
    top: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.Youtube button {
    flex: 1 0 200px;
    max-width: 280px;
    border-radius: 20px;
    margin: 10px 10px;
    background-color: #FF0000;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 36px;
    border: 0px;
    width: 240px;
    cursor: pointer;
}

.PlaylistInput {
    height: 30px;
    margin: 10px;
    width: 24vw;
    flex: 1 0 300px;
    max-width: 500px;
}

.Youtube button:hover {
    background-color: black;

}


.Youtube button:disabled {
    background-color: rgb(100, 100, 100);
}