.App {
  text-align: center;
  background-color: #282c34;
}

.Title {
  color:white;
  text-align: left;
  padding: 5px 25px 5px 25px;
  
}

.Highlight {
  color: red;
}

.Main {
  margin-top: 70px;
}