.Playlist {
    width: 40%;
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0px 40px;
    background-color: rgb(30,215,96);
    padding-bottom: 20px;
}

@media screen and (max-width: 3000px) {
    .Playlist {
        width: 45%;
    }
}

.SaveButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
}

.PlaylistSave {
    border-radius: 20px;
    display: inline-flex;
    background-color: #003F00;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0px;
    margin: 10px 10px 0px 10px;
    width: 220px;
    flex: 1 0;
    height: 36px;
    line-height: 36px;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}

.SaveConfirmation {
    border-radius: 20px;
    display: inline-flex;
    background-color: #003F00;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0px;
    margin: 10px 40px 10px 40px;
    height: 36px;
    width: 240px;
    align-self: center;
    justify-content: center;
}

.SaveConfirmation h3 {
    display: flex;
    margin: 0px;
}

.PlaylistSave:hover {
    background-color: black;
}

.PlaylistName {
    display: flex;
    font-style: italic;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 30px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    margin: 20px 40px 0px 40px;
}

input:focus-visible {
    outline: 0px;
}