.SearchBar {
    color: white;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

.SearchInput {
    height: 30px;
    width: 40vh;
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background-color: #003F00;
    transition: border-color 0.2s;
}

.SearchButton {
    border-radius: 20px;
    display: flex;
    background-color: #003F00;
    color: white;
    height: 36px;
    line-height: 36px;
    width: 120px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0px;
    align-self: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.SearchButton:hover {
    background-color: black;

}