.SearchBar {
    color: white;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

.SearchInput {
    height: 30px;
    flex: 1 0 250px;
    max-width: 400px;
}

.SearchButton {
    border-radius: 20px;
    display: flex;
    background-color: #003F00;
    color: white;
    height: 36px;
    line-height: 36px;
    width: 140px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0px;
    align-self: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 10px;
}

.SearchButton:hover {
    background-color: black;

}