.SearchResults {
    width: 40%;
    height: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    padding-bottom: 20px;
    margin: 0px 40px;
    background-color: rgb(30,215,96);
}

@media screen and (min-width: 3000) {
    
    
}

.Subheading {
    display: flex;
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 30px;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    margin: 20px 40px 0px 40px;
}